<div class="container" scrolly-scroll>
    <div class="well">
        <p class="lead">
            students
        </p>
        <p>REST test</p>

        <!--
        <div rest rest-path="/test" rest-name="students" rest-loading-text="LOading Students" rest-error-text="NOt POssible to load" />  -->



        <p class="pull-left">&nbsp;&nbsp;{{name}}</p>
        <div class="clearfix"></div>
    </div>
    <p>
        <input class="form-control" ng-model="searchfilter" placeholder="search"></input>
    </p>
    <table class="col-lg-12 table table-default table-hover ">
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Role</th>
                <th>Age</th>
                <th>Office</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="student in students | filter:searchfilter ">
                <td>{{$index}}</td>
                <td>{{student.name}}</td>
                <td>{{student.role}}</td>
                <td>{{student.age}}</td>
                <td>{{student.office}}</td>
                <td>
                    <button class="btn btn-danger btn-sm glyphicon glyphicon-remove" type="button" ng-click="removeStudent(student , $index)"></button>
                    <button class="btn btn-primary btn-sm glyphicon glyphicon-edit" type="button" ng-click="editStudent(student);"></button>
                </td>
            </tr>
        </tbody>
    </table>

    <br>
    <student-form></student-form>



</div>
